{% extends "base.html" %}

function imgError(image) {
    image.onerror = "";
    image.src = "/images/noimage.gif";
    return true;
}

{% block title %}Projects: {{ portfolioproject.title }}{% endblock title %}

{% block content %}


<h2>{{ portfolioproject.title }}</h2>

{% if request.user.is_superuser %}
  <p>
    <a class="btn btn-primary"
       href="{% url 'portfolioapp:update' portfolioproject.slug %}"
       role="button">
      Update
    </a>
  </p>
{% endif %}

{% if portfolioproject.website %}
  <p>Website: <a href="{{ portfolioproject.website }}">{{ portfolioproject.website }}</a></p>
{% endif %}

{% if portfolioproject.description %}
  <p>Description: {{ portfolioproject.description }}</p>
{% endif %}

<img src="{{ portfolioproject.photo.url }}" alt="Project image" width="350" height="280">


{% endblock content %}
