/* global*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(32, 30, 30);
    color: rgb(160, 157, 157);
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    }
h2,.white{
    color: #fff;
}

a{
    color: rgb(160, 157, 157);
    text-decoration: none;
}
/* contact */
.contact{
    padding-top: 70px;
    width: 200px;
   text-align: center;
}

.contact p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.contact h2{
    font-size: 1.5rem;
    padding: 15px 0;
}

.contact a{
    font-size: 35px;
    padding: 10px 20px;
    transition: 0.3s;
}
.contact .fas{
   margin-right: 10px;
}
/* section-2 */
.section-2{
    padding: 70px 70px;
}

.section-2 h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 20px;
    padding-bottom: 40px;
    margin:0;
}

.skills ul{
font-size: 20px;
padding: 10px 0;
}

.projects h2{
    padding: 20px 0;
}

.projects a{
    padding: 10px;
    font-size: 20px;
    transition: 0.5s;
}
li{
    padding: 10px 0;
}

/* section-3 */

.section-3 p{
    margin: 20px 50px;
    font-size: 1.05rem;
}
.section-3 h2{
    margin: 40px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.proj-title{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgb(32, 32, 32);
}
.proj-img{
    position: relative;
    height: 150px;
    background-position: center;
    background-size: cover;
}
.hero-bg{
    height: 100%;
    width: 100%;
    background-color: rgba(29, 27, 27, 0.801);
}
.proj-img h1{
    font-size: 23px;
}

.section-3 p{
    text-align: center;
    font-size: 1.1rem;
}
.technologies-proj1 ul{
    margin-left: 50%;;
    font-size: 1.1rem;
    transform: translateX(-30%);
}
.description-github p{
  font-size: 1.5rem;
}
.examples{
    margin-top: 50px;
    position: relative;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
}
.proj2-img{
    position: relative;
    height: 150px;
    background-position: center;
    background-size: cover;
}


.btn{
    height: 100px;

}

button{
    position: relative;
    width: 300px;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    background-color: #fff;
    font-size: 20px;
    bottom: 10%;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;
    border: solid black;
}
button:hover{
    background-color: rgb(32, 30, 30);
    color: #fff;
    border: solid #fff;
}



/* animations / utilities */
.projects a:hover{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.contact a:hover{
    color: #fff;
    cursor: pointer;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .container{
        display: block;

    }
    .contact{
        margin: auto;
        text-align: center;
        height: 450px;
    }
    .section-2 {
        padding: 60px 25px;
    }
    .section-2 p{
        font-size: 20px;
        padding-bottom: 40px;
    }
    .section-2 h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .section-2 h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .projects a{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .examples{
    background-size: 90%;
    margin-top: 10px;
}
.examples2{
    background-size: 90%;
    margin-top: 10px;
}
.examples3{
    background-size: 90%;
    margin-top: 10px;
}
}


@media(min-width:780px) {

    button{
        width: 600px;
    }
    .proj-img h1{
        font-size: 25px;
    }

}
