{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{  view.action|default:"Add" }} Chart{% endblock title %}

{% block content %}
<script>
$(document).ready(function() {

  var last_valid_selection = null;

  $('#csrfmiddlewaretoken').change(function(event) {

    if ($(this).val().length > 3) {

      $(this).val(last_valid_selection);
    } else {
      last_valid_selection = $(this).val();
    }
  });
});
</script>
<form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='submit'>
</form>


{% endblock %}
