{% extends "base.html" %}

{% block title %}Chart{% endblock title %}


{% block content %}

<canvas id="myChart" width="500" height="500"></canvas>
<script>
var ctx = document.getElementById('myChart');
// const labels =  ["dps", "attackspeed", "dmg", "range", "hp", "mana", "armor", "mr", "cost", "tier"];
// const labels = ["tier", "cost", "mr", "armor", "mana", "hp", "range", "dmg", "attackspeed", "dps"];
const colors = ["red", "green", "blue", "magenta", "cyan"]
const labels =  ["dps", "attackspeed", "dmg", "range", "hp", "mana", "armor", "mr", "cost", "tier"];
const data = {
  labels: labels,
  datasets: [
      {% for champion in champion_list %}
        {% if champion.name in Champions %}
          {
            label: "{{ champion.name }}",
            data: [{{ champion.scaled_dps|stringformat:".2f" }}, {{ champion.scaled_attackspeed|stringformat:".2f" }},
            {{ champion.scaled_dmg|stringformat:".2f" }}, {{ champion.scaled_range|stringformat:".2f" }},
            {{ champion.scaled_hp|stringformat:".2f" }}, {{ champion.scaled_mana|stringformat:".2f" }},
            {{ champion.scaled_armor|stringformat:".2f" }}, {{ champion.scaled_mr|stringformat:".2f" }},
            {{ champion.scaled_cost|stringformat:".2f" }}, {{ champion.scaled_tier|stringformat:".2f" }}],
            borderColor: [
                      colors[{{ forloop.counter }}],
                  ],
            backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                  ],
          },
        {% endif %}
  {% endfor %}
  ]
};

var myChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    options: {
    responsive: false,
    plugins: {
      title: {
        display: true,
        text: 'Champions radar chart'
      }
    }
  },
});
</script>
<p>Max dps: {{ max_dps }}, Max attackspeed: {{ max_attackspeed|stringformat:".2f" }}, Max dmg: {{ max_dmg}}, Max range: {{ max_range }},Max hp: {{ max_hp }},
  Max mana: {{ max_mana }}, Max armor: {{ max_armor }}, Max mr: {{ max_mr }}, Max cost: {{ max_cost }}, Max tier: {{ max_tier }}</p>

  <p>Found champions {{ Champions }}</p>
      {% for champion in champion_list %}
          <p>counter {{ forloop.counter }} {{ champion}}</p>

        {% if champion.name in Champions %}
          <p>Champion {{ forloop.counter }} {{ champion}}</p>
        {% else %}
          <p>not found</p>
        {% endif %}
  {% endfor %}

{% endblock content %}
