{% extends "base.html" %}

{% block title %}Chart{% endblock title %}


{% block content %}

<canvas id="myChart" width="400" height="300"></canvas>
<script>
var ctx = document.getElementById('myChart');

const labels = ["tier", "cost", "mr", "armor", "mana", "hp", "range", "dmg", "attackspeed", "dps"];
const data = {
  labels: labels,
  datasets: [
    {
      label: 'Dataset 1',
      data: [{{ champion.dps }}, {{ champion.attackspeed }}, {{ champion.dmg }}, {{ champion.range }}, {{ champion.hp }}, {{ champion.mana }}, {{ champion.armor }}, {{ champion.mr }}, {{ champion.cost }}, {{ champion.tier }}],
      borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
      backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
    },
    {
      label: 'Dataset 2',
      data: [5,5,5,7,7,7,7],
      borderColor: [
                'rgba(255, 159, 64, 1)'
            ],
      backgroundColor: [
                'rgba(255, 159, 64, 0.2)'
            ],
    }
  ]
};


var myChart = new Chart(ctx, {
    type: 'radar',
    data: data,
    options: {
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Chart.js Radar Chart'
      }
    }
  },
});
</script>
{% endblock content %}
